*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}
.top{
    height: 680px;
    background-image: url(web-assets/top-bgc.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    color: white;
}
.top>h1{
    margin-top: 125px;
    font-size: 42px;
}
.top>p{
        width: 560px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 32px;
        padding-top: 57px;
        margin-bottom: 65PX;
        opacity: .7;
    }
.top>div{
        margin: 0 auto;
        padding-top: 38px;
        border-width: 1px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        border-radius: 2px;
        left: 315px;
        top: 530px;
        width: 700px;
        height: 220px;
        box-sizing: border-box;
      }
.top>div>h2{
    font-size: 12px;
    margin-bottom: 7px;
}
.top>div>P{
    font-size: 11px;
    opacity: .3;
    margin-bottom: 28px;
}
.Input_Field {
    margin-right: 15px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 2px;
    width: 200px;
    height: 35px;
    opacity: .7;
    background-color:rgba(0,0,0,0);
  }
  .Sign_Up {
    font-size: 10px;
    color: rgb(20, 20, 20);
    line-height: 1.833;
    text-align: center;
    width: 88px;
    height: 35px;
  }
  /* 头部结束 */
  .content1{
      height: 670px;
  }
  
  
  
        
  
  